*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.header-promo{
    width: 100%;
    background-color: black;
    padding: 5px 0;

    p{
        color: white;
        text-align: center;
    }
}

.banner{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;



    .banner-left{
        height: 100%;
        flex-basis: 90%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        h1{
            font-size: 50px;
        }
    
        h2{
            font-size: 30px;
        }
    }

    .banner-right{
        height: 100%;
        flex-basis: 10%;
        border-left: 4px solid black;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 30px;
        }
    }
}

.main{
    height: 100vh;
    width: 100vw;
    background-image: url("./home-img.jpeg");
    background-size: cover;
    background-position: top center;
    cursor: pointer;
    position: relative;
    // z-index: -1;

    .explore-wines{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        height: 100px;
        background-color: white;
        border: 4px solid black;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover{
            background-color: black;
            color: white;
        }

        p{
            font-size: 30px;
        }

        i{
            font-size: 30px;
        }
    }
}